.slider {
    max-width: 1280px;
    max-height: 583px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-bottom: 1px solid var(--secondary-gray);
    border-right: 1px solid var(--secondary-gray);
}

.slides {

}

.slide {
    display: flex;
    flex-basis: 100%;
    flex-shrink: 0;
}

.slider__navigation {

} 